.numberInput {
  align-items: stretch;
  border-radius: 0.25rem;
  display: flex;

  input {
    background-color: var(--input-background-colour);
    border: 1px solid var(--input-border-colour);
    border-radius: 0.25rem;
    color: var(--text-colour);
    display: block;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0.375rem 0.75rem;
    width: 100%;
  }

  input:focus {
    border-color: var(--input-focused-border-colour);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: 0;
  }

  input:read-only {
    background-color: var(--input-inactive-background-colour);
    opacity: 0.5;
  }
}

.withSuffix {
  position: relative;

  input {
    border-radius: 0.25rem 0 0 0.25rem;
    position: relative;
    z-index: 3;
  }
}

.suffix {
  background-color: var(--input-suffix-colour);
  border: 1px solid var(--input-border-colour);
  border-radius: 0 0.25rem 0.25rem 0;
  border-left-width: 0;
  line-height: 1.5;
  padding: .375rem .75rem;
  position: relative;
  text-align: center;
  white-space: nowrap;
  z-index: 2;

  input:focus~& {
    background-color: var(--input-focused-suffix-colour);
    border-color: var(--input-focused-border-colour);
  }
}
