.comparisonTable {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;

  thead th,
  tfoot th,
  td {
    text-align: right;
  }

  thead span {
    display: none;

    @media (min-width: 992px) {
      display: inline;
    }
  }

  tfoot,
  th {
    font-weight: 600;
  }

  td,
  th {
    padding: 0.75rem;
    padding-left: 0;
  }

  tbody td,
  tbody th,
  tfoot td,
  tfoot th {
    border-top: 1px solid var(--border-colour);
  }

  tbody tr:first-child td,
  tbody tr:first-child th,
  tfoot tr:first-child td,
  tfoot tr:first-child th {
    border-top-width: 2px;
  }

  tbody th {
    padding: 0.75rem;
    position: relative;
    text-align: left;
  }

  tbody tr td,
  tbody tr th {
    background-color: var(--table-row-colour);
  }

  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: var(--table-row-alt-colour);
  }

  @media (min-width: 576px) {
    tbody th {
      padding-left: 2.5rem;
    }

    tbody th::before {
      background: var(--swatch) linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%);
      border-radius: 0.375rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      content: " ";
      height: 0.75rem;
      left: 1rem;
      margin-top: -0.375rem;
      position: absolute;
      top: 50%;
      width: 0.75rem;
    }
  }

  col:nth-child(2),
  col:nth-child(3) {
    display: none;

    @media (min-width: 576px) {
      display: table-column;
    }
  }

  thead tr th:nth-child(2),
  thead tr th:nth-child(3),
  tbody tr td:nth-child(2),
  tbody tr td:nth-child(3),
  tfoot tr:first-child td:nth-child(2),
  tfoot tr:first-child td:nth-child(3),
  tfoot tr:nth-child(2) td:first-child {
    display: none;

    @media (min-width: 576px) {
      display: table-cell;
    }
  }

}

.skeleton {
  animation: skeleton-glow 1s linear infinite alternate;
  border-radius: 0.125rem;
  background-color: var(--text-colour);
  display: block;
  height: 1.5rem;
  opacity: 0.15;
  pointer-events: none;
  user-select: none;

  td & {
    margin-left: auto;
  }
}

@keyframes skeleton-glow {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.1;
  }
}
