.slider {
  align-items: center;
  display: flex;
  height: 2.25rem;
  width: 100%;
}

.knob {
  background-color: #28a745;
  border-radius: 50%;
  box-sizing: border-box;
  height: 0.75rem;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 0.75rem;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.5rem rgba(0, 123, 255, 0.25);
    outline: 0;
  }
}

.left,
.right {
  flex: 1;
  height: 0.125rem;
}

.left {
  background-color: #28a745;
  border-radius: 1px 0 0 1px;
}

.right {
  background-color: #ced4da;
  border-radius: 0 1px 1px 0;
}
