.mg-mmp-review-tool__form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;

  @media (min-width: 576px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;

    & > label:first-child {
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto auto;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;

    & > label:first-child {
      grid-column: 1;
    }
  }
}
