.select {
  background: var(--input-background-colour)
              url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
              no-repeat
              right
              0.75rem
              center;
  background-size: 8px 10px;
  border: 1px solid var(--input-border-colour);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: var(--text-colour);
  display: inline-block;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.5;
  padding: .375rem 1.75rem .375rem .75rem;
  vertical-align: middle;
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    border-color: var(--input-focused-border-colour);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: 0;
  }
}
