:root {
  --background-color: #fff;
  --border-colour: #eee;
  --heading-colour: #d43900;
  --link-colour: #d43900;
  --primary-colour: #eb811a;
  --text-colour: #212529;
  --header-text-colour: #fff;
  --form-background-color: #f8f8f8;

  --success-colour: rgba(40, 167, 69, .1);

  // Difference
  --negative-difference-colour: #dc3545;
  --positive-difference-colour: #28a745;
}
