.mg-link-list {
  margin: 0;
  padding: 0;

  li {
    flex: 1;
    list-style: none;
    margin-bottom: 1rem;
  }

  li:first-child {
    padding-left: 0;
  }

  a {
    background-color: var(--cta-background-colour);
    color: var(--cta-text-colour);
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 0 0.625rem;
    padding: 1rem;
    text-transform: uppercase;
    transition: background-color .5s ease-in-out,
                border-color .5s ease-in-out,
                color .5s ease-in-out;
  }

  a:hover {
    background-color: var(--cta-hover-background-colour);
    color: var(--cta-hover-text-colour);
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .mg-link-list {
    // display: flex;

    // li {
    //   flex: 1;
    //   margin-bottom: 1.5rem;
    //   padding-left: 1.5rem;
    // }

    a {
      font-size: 1.875rem;
      // text-align: center;
      // padding: 3.75rem 0.3125rem;
    }
  }
}
