.form {
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  @media (min-width: 576px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    & > label:last-child {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;

    & > label:last-child {
      grid-column: 3;
      grid-row: 1;
    }
  }
}
