.checkBox {
  position: relative;

  input {
    box-sizing: border-box;
    opacity: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
  }

  span {
    margin-bottom: 0;
    padding-left: 1.5rem;
  }

  span::after,
  span::before {
    content: "";
    cursor: pointer;
    display: block;
    height: 1rem;
    left: 0.75rem;
    position: absolute;
    top: 0.25rem;
    user-select: none;
    width: 1rem;
  }

  span::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
    opacity: 0.25;
    transition: opacity 0.25s;
  }

  span::before {
    background-color: var(--input-inactive-background-colour);
    border-radius: 0.25rem;
    transition: background-color 0.25s;
  }

  input:checked~span::after {
    opacity: 1;
  }

  input:checked~span::before {
    background-color: var(--input-active-background-colour);
  }

  input:focus~span::before {
    border-color: var(--input-focused-border-colour);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  @media (min-width: 576px) {
    min-height: 4.1875rem;

    span {
      padding-left: 0;
    }

    span::after,
    span::before {
      height: 2.375rem;
      top: 1.8125rem;
      width: 2.375rem;
    }
  }
}
