.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1.5rem;
  width: 100%;
}

.skipToContent {
  background-color: var(--heading-colour);
  border: 0;
  clip: rect(0, 0, 0, 0);
  color: var(--header-text-colour);
  display: block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 1px;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    outline: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}

.header {
  background-color: var(--primary-colour);
  font-weight: 600;

  nav {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul a {
    border-radius: 0.25rem;
    color: var(--header-text-colour);
    display: block;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    line-height: 1.75;
    padding: 0.375rem 0.5rem;
    text-transform: uppercase;
  }

  ul a:focus,
  ul a:hover {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    outline: 0;
    text-decoration: none;
  }
}

.brand {
  color: var(--header-text-colour);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: inherit;
  margin: 0 -1rem;
  padding: .7375rem 1rem .8875rem;
  text-transform: lowercase;
  white-space: nowrap;

  &:focus {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
    outline: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.footer {
  border-top: 1px solid var(--border-colour);
  margin-top: 2.25rem;
  padding: 2.25rem 0 1.66667rem;
  text-align: center;

  a:hover {
    text-decoration: none;
  }
}
